<div class="container formclas">
    <div class="mb-3">
        <h4 style="text-align:center">Add new Song</h4>
        <label for="formGroupExampleInput" class="form-label">song:</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="song">
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Artist:</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Artist">
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</div>