*{
    
        font-family: 'Lora', serif;
    
     
}
.title{
    text-align:center;
    font-weight:bold;
    font-family: 'Lora', serif;
}

#header{
    text-align: center;
    font-weight: bold;
    font-size:20pt;
    color:black;
}

ul{
    padding-bottom: 20%;
}
.footer-p{
    background-color:#09092b;
    color:#fff;
    
}
footer a{
    text-decoration: none;
    color: white;
}
.display{
    display: flex;
    justify-content: center;
    
}